.menu{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: white;
}
body{
    margin: 0px;
    background-color:#09d7fc;
    
}
a{
    text-decoration :none
}
a:link{
    color:#9609f5;
}

a:visited{
    color: #61f70b;
}

.bodyimg{
    position: relative;
}
.bodyimg p{
    color:#f7f2f2;
    font-size: 55px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    top:10%;
    left:50%;
    transform: translate(-50%,-50%);
}
.bodyimg h3{
    color:#dff800;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    width: 1600px;
    position: absolute;
    top:40%;
    left:80%;
    transform: translate(-80%, -40%);
}
.grid{
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    font-family: sans-serif;
    
}
.grid img{
    border: 2px solid black;
    border-radius: 50px;
}
.origami {
    
    border-radius: 20px;
    background-color: #ffffff;
    padding: 30px;
    margin: 25px;
    width:310px;
    font-family: fantasy;
    
}

 .origami:hover{ 
    transform: scale(1.2);
    opacity:0.5;
}